@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */

.bottomNav {
  @apply fixed bg-none backdrop-blur-0 right-14 bottom-6 h-12 md:h-16 w-0 border-0 duration-500 p-3 rounded-full translate-x-[50%] transition-[width,right,border,backdrop-filter,background] delay-[1s,2.5s,1s,1s,1s] z-50;
}

.control-btn {
  @apply bg-white/[0.41] dark:bg-black/[0.21] absolute left-[50%] top-[50%] cursor-pointer h-14 w-14 md:h-20 md:w-20 translate-x-[-50%] translate-y-[-50%] flex items-center justify-center rounded-full border-2 border-[#ffcf20] transition-[top,background,color] delay-[0.7s,2.5s,0s] text-black dark:text-white duration-300;
}

.bottomNav:has(#check:checked) {
  @apply right-[50%] bg-white/[0.21] backdrop-blur dark:bg-black/[0.21] translate-x-[50%] w-[90%] md:w-[25%] xl:w-[40%] 2xl:w-[25%] border transition-[width,right,border,backdrop-filter,background] delay-[1s,0s,1s,1s,1s] duration-500;
}

svg {
  @apply duration-300 delay-[1s] cursor-pointer;
}

#check:checked + svg {
  @apply -rotate-[135deg] delay-[2s];
}

.control-btn:has(#check:checked) {
  @apply top-0 transition-[top,background,color,box-shadow] delay-[2.5s,0s,0s,2.5s] bg-[#ffcf20] shadow-md shadow-gray-600/50 text-inherit;
}

.bottomNav ion-icon {
  @apply cursor-pointer duration-100 dark:text-white;
}

.bottomNav ion-icon:hover {
  @apply -translate-y-1 scale-110;
}
